page-login {

.text-input::-moz-placeholder {
  color: #86888d;
}

.text-input:-ms-input-placeholder {
  color: #86888d;
}

.text-input::-webkit-input-placeholder {
  color: #86888d;
}

.text-input-md {
    color:  #86888d;
}

}
