<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding style="background: #2b3a53;">

<div style="color: white;" align="center">
<br />
<br />
<br />

<img src="assets/imgs/logo.png" width="210px">

</div>
<br />
<br />
<br />   

 <ion-item style="background: #1b2636;">
    <ion-input type="text" placeholder="Username"  [(ngModel)]="datas.username"></ion-input>
  </ion-item>
  <br />
   <ion-item style="background: #1b2636;">
    <ion-input type="password" placeholder="Password"  [(ngModel)]="datas.password"></ion-input>
  </ion-item>
  &nbsp;
  <br />
  <p style="text-align: center; color: #dfdfdf;" (click)="doForget()">Forgot Your Password?</p>
  <br />

<button ion-button full login style="color: #dfdfdf; background: #0a9276;" (click)="doLogin()">Login</button>


<button ion-button full style="color: #dfdfdf; background: #959595;" (click)="doRegister()">Register</button>


</ion-content>

