<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Forgot Password
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content padding>
	<img src="assets/imgs/lock.gif" width="100%">
	<h2 align="center">Forgot your password?</h2>
	<span style="text-align: justify;">Please enter your full email address, we will send you a temporary password</span>
	 <br /> <br />
    <ion-input type="email" placeholder="Email Address"  [(ngModel)]="datas.email"></ion-input>
    <br />
 <button ion-button full color="secondary" (click)="goSend()">Send password</button>

</ion-content>
