<!--
  Generated template for the MessagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  	  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Message</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
  <ion-item text-wrap *ngFor="let item of items">
    <ion-avatar item-start>
      <img src="assets/imgs/money.jpg">
    </ion-avatar>
    <h2>{{item.mTitle}}</h2>
    <p style="margin-top: -20px; text-align: right;">{{item.mDate}}</p>
    <p style="text-align: justify;">{{item.mDetails}}</p>
  </ion-item>

</ion-list>
</ion-content>
