<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  	  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
     <div id="profile-bg"></div>
      <div id="content">
        <div id="profile-info">
          <img id="profile-image" src="assets/imgs/avatar.jpg" >
    <button ion-button color="secondary" style="    margin-top: -100px;
    left: 110px;">
      <ion-icon name="create"></ion-icon>
    </button>
          <h3 id="profile-name">Syafiq</h3>
          <span id="profile-description">Email: syafiqevo@gmail.com
          	<br />
          	Phone: 01923847655
          </span>
        </div>
    </div>
<br />

<ion-list>
  <ion-list-header>
    Summary
  </ion-list-header>
  <ion-item>


<div style="display: block">

    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
            </div>
  </ion-item>

</ion-list>

</ion-content>
