<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle (click)="getUserData()">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
    <ion-toolbar color="secondary">
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-fab right bottom>
    <button ion-fab color="secondary"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="goCreate()"><ion-icon name="create"></ion-icon></button>
      <button ion-fab (click)="showConfirm()"><ion-icon name="pricetag"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

 <ion-list >

  <ion-item  *ngFor="let item of items" (click)="goDetails(item.billId, item.billAdmin, item.billSize, item.billTitle)">
  <ion-avatar item-start>
      <img src="assets/imgs/money.jpg">
    </ion-avatar>
    <h2>{{item.billTitle}}</h2>
    <p>Due date: {{item.billDue}}</p>
    <p>Bill Type: {{item.billType}}</p>
  </ion-item>

  </ion-list>

</ion-content>
