<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Pay
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>

	   	<ion-card>
  <ion-card-content>
<div class="item row">
   <span align="left" class="col col-50">
    

         <ion-row>
  <ion-col col-50> 
  <p>Paid</p>
  <h2><b>RM {{amountPaid}}</b></h2>
  </ion-col>

  <ion-col col-50>
  <p>Amount per person</p>
  <h2><b>RM {{amountEach}}</b></h2>
  </ion-col>
</ion-row>


   </span>
</div>
  </ion-card-content>
</ion-card>

<ion-list radio-group [(ngModel)]="datas.payOption">
  <ion-item>
    <ion-label>Pay for myself</ion-label>
    <ion-radio checked="true" value="self"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-label>Pay for a friend</ion-label>
    <ion-radio value="friend" ></ion-radio>
  </ion-item>

<!--     <ion-item>
    <ion-label fixed>Amount(RM)</ion-label>
    <ion-input type="number" ></ion-input>
  </ion-item> -->

</ion-list>

<ion-list radio-group *ngIf="datas.payOption=='friend'" [(ngModel)]="datas.friend">
 <ion-list-header>
    Select a friend name
  </ion-list-header>
  <ion-item *ngFor="let members of billMembers">
        <ion-label>{{members.username}}</ion-label>
    <ion-radio value="{{members.userId}}"></ion-radio>
  </ion-item>

</ion-list>

<ion-list>

  <ion-item>
    <ion-label fixed>Amount(RM)</ion-label>
    <ion-input type="number"  [(ngModel)]="datas.amount"></ion-input>
  </ion-item>
</ion-list>

<ion-list>
	  <ion-item *ngIf="billType == 'monthly'">
    <ion-label floating>How Many Time You Want To Pay</ion-label>
    <ion-input type="number" item-center  [(ngModel)]='datas.time' 
       (input)='onInputTime($event.target.value)'></ion-input>

<!--           <ion-icon name="leaf" item-left primary></ion-icon>
      <ion-label floating primary>First Name</ion-label>
      <ion-input type="text"></ion-input>
      <ion-icon name="arrow-forward" item-right primary></ion-icon> -->
  </ion-item>
</ion-list>
<!-- <ion-card>
  <ion-card-content>
   <p>Total: </p>
  </ion-card-content>
</ion-card> -->

<br />
<button ion-button full login style="color: #dfdfdf; background: #0a9276; height: 35px;" (click)="showPay()">Confirm</button>
</ion-content>
