<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="secondary">
    <br />
    
    <div align="center">
      <img src="assets/imgs/avatar.jpg" style="border-radius: 50%;" width="80px" height="80px">
      <p style="color: white;">{{username}} <br />
      {{email}}
      </p>
    </div>


      <br />
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>

  <ion-item menuClose (click)="openPage(homePage)">
    <ion-icon name="ios-home" item-start></ion-icon>
      Home
  </ion-item>

  <ion-item menuClose (click)="openPage(profilePage)">
    <ion-icon name="person" item-start></ion-icon>
      Profile
  </ion-item>

  <ion-item menuClose (click)="openPage(messagePage)">
    <ion-icon name="mail" item-start></ion-icon>
      <ion-badge item-end color="secondary">{{messageCount}}</ion-badge>
      Message
  </ion-item>

  <ion-item menuClose (click)="doLogout()">
    <ion-icon name="log-out" item-start></ion-icon>
      Logout
  </ion-item>

    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>