<ion-content padding style="background: #1bbc9b; color: white;">
  <ion-slides pager style="height: 90%; overflow-y: hidden;">

    <ion-slide>
      <img src="assets/imgs/welcome1.png" style="width: 240px" />
      <h3 class="slide-title">Manage and pay group bills on time</h3>
    </ion-slide>

    <ion-slide>
      <img src="assets/imgs/welcome2.png" style="width: 240px" />
      <h3 class="slide-title">No More hastle, the bills are divided equally</h3>
    </ion-slide>

    <ion-slide>
      <img src="assets/imgs/welcome3.png" style="width: 240px" />
      <h3 class="slide-title">Works on every kind of Bills</h3>
    </ion-slide>
   
  </ion-slides> 
<div align="center">
	<button ion-button round style="width: 90%; background: white; color: #151a21;" (click)="goMain()">Skip</button>
</div>

</ion-content>
