<!--
  Generated template for the CreatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Create New Bill</ion-title>

    <ion-buttons end>
	<ion-icon style="font-size: 34px; color: white; margin-right: 13px;" name="ios-send"></ion-icon>
	</ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-list radio-group>
 <ion-list-header>
    Bill type
  </ion-list-header>
  <ion-item>
    <ion-label>One-off</ion-label>
    <ion-radio checked="true" (ionSelect)="select('one-off')" selected="true"></ion-radio>
  </ion-item>

    <ion-item>
    <ion-label>Monthly</ion-label>
    <ion-radio (ionSelect)="select('monthly')"></ion-radio>
  </ion-item>

</ion-list>

<ion-list>
  <ion-item>
    <ion-label fixed>Title</ion-label>
    <ion-input type="text" [(ngModel)]="datas.billTitle"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Description</ion-label>
    <ion-input type="text" [(ngModel)]="datas.billDescription"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Bill size (Number of people involved)</ion-label>
    <ion-input type="number" [(ngModel)]="datas.billSize"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label fixed>Amount</ion-label>
    <ion-input type="number" [(ngModel)]="datas.billAmount"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Due Date</ion-label>
    <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="datas.billDue"></ion-datetime>
  </ion-item>
  </ion-list>

<br />
<button ion-button full login style="color: #dfdfdf; background: #0a9276; height: 35px;" (click)="doCreate()">Create bill</button>
</ion-content>
