<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>

<ion-list>

  <ion-item>
    <ion-label floating>Username</ion-label>
    <ion-input type="text" [(ngModel)]="data.username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input type="text" [(ngModel)]="data.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Phone Number</ion-label>
    <ion-input type="number" [(ngModel)]="data.phone"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="password" [(ngModel)]="data.password"></ion-input>
  </ion-item>

</ion-list>
<br />
<div>
	<button ion-button full login style="color: #dfdfdf; background: #0a9276;" (click)="doRegister()">Submit</button>
</div>

</ion-content>
