<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Details</ion-title>


<ion-buttons right>
      <button style="background: transparent;
    color: white;
    font-size: 22px;
    margin-right: 8px;" (click)="getCode()">
        <ion-icon name="md-code"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

 <ion-toolbar color="secondary">

 <ion-segment [(ngModel)]="stats">
    <ion-segment-button value="track" style="color: white;" selected="true">
      Track Record
    </ion-segment-button>
    <ion-segment-button value="progress" style="color: white;">
      Progress
    </ion-segment-button>

  </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content>

<div [ngSwitch]="stats">

<div *ngSwitchCase="'track'">
  <div style="width:100%; height: 80px; text-align: center; color: white;">
  <img src="assets/imgs/bg1.jpg">
  <h3 style="margin-top: -80px; text-align: center; margin-bottom: -1px;">{{billTitle}}</h3>
    <span style="margin-top: -4px;">Admin: {{billAdminName}} <br /> Bill Size:{{billSize}} people</span>
  </div>
  <br />
   <ion-row>
  <ion-col col-50 *ngIf="billAdmin == userId"> 
    <button ion-button full color="secondary">
      Edit
    </button>
  </ion-col>

  <ion-col col-50>
    <button ion-button full (click)="showPay()" style="background: #e16835; color: white">
      Pay
    </button>
  </ion-col>
</ion-row>
  <ion-list style="padding: 16px;">

        <ion-item-divider>Members</ion-item-divider>
    <ion-item  *ngFor="let members of billMembers">
<p>{{members.username}}</p>
<img src="assets/imgs/bar.jpg"  height="23px" style="border-radius: 25px; margin-top: 5px;" [style.width.%]="((members.amountPaid/members.amountEach)*100)">
<span>&nbsp;{{ ((members.amountPaid/members.amountEach)*100) }}%</span>
    </ion-item>

    <ion-item-divider>Overall</ion-item-divider>
        <ion-item>
<p>Total Paid Amount</p>
<img src="assets/imgs/bar.jpg"  [style.width.%]="totalPerc" height="23px" style="border-radius: 25px; margin-top: 5px;">
<span style="    font-size: 14px;
    color: white;
    margin-top: 7px;
    left: 30px;
    position: absolute;">{{totalPerc}}%</span>
<span>&nbsp;RM{{total}}</span>
    </ion-item>

<br />
<!-- <button ion-button full login style="color: #dfdfdf; background: #0a9276; height: 35px;" >Pay</button>
 -->  </ion-list>
</div>

<div  *ngSwitchCase="'progress'">
  <ion-list>
    <ion-item>

<div class="item row">
   <span align="left" class="col col-50">
   	
   	<ion-card style="padding: 7px;">

         <ion-row>
  <ion-col col-50> 
  <p>Target</p>
  <h2><b>{{target}}</b></h2>
  </ion-col>

  <ion-col col-50>
  <p>Amount per person</p>
  <h2><b>{{amountEach}}</b></h2>
  </ion-col>
</ion-row>
	<h4>Dateline: {{due}}</h4>
</ion-card>

   </span>
</div>

<div style="display: block">
   <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
</div>
<br />
<button ion-button full login style="color: #dfdfdf; background: #0a9276; height: 35px;" (click)="showPrompt()">Send Message</button>

    </ion-item>
  </ion-list>

</div>
</div>

</ion-content>
